*.DS_Store
*.swp
*~
*.class
*.tasty
target/
logs/
.bloop
.bsp
.dotty-ide-artifact
.dotty-ide.json
.idea
.metals
.vscode
*.csv
*.dat
.bsp
src/main/ressources/timeusage/atussum.csv
src/main/ressources/timeusage/atussum.csv
